html,
body {
    width: 700px;
    width: 100vw;
    /* 画面幅いっぱい */
    height: 100vh;
    background: #0b2348;
    color: white;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.hp {
    font-family: -apple-system, "ヒラギノ丸ゴ Pro";
    font-size: 18px;
    color: #bb9855;
}

.timer {
    font-size: 20px;

}

.me {
    font-family: -apple-system, "ヒラギノ丸ゴ Pro";
    font-size: 20px;
}

#header {
    width: auto;
    height: 80px;
}

#back {
    position: relative;
    z-index: 10;
}

.balloon {
    position: absolute;
    bottom: -150px;
    z-index: 10;
    /* 下外からスタート */
    width: 100px;
    /* 初期サイズ */
}

#human {
    width: 500px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid rgba(27, 60, 93, 0.8);
    box-shadow: 0 0 10px rgba(25, 33, 125, 0.6);
    margin-top: 20px;
}