html,
body {
    width: 700px;
    margin-right: auto;
    margin-left: auto;
    background: #0b2348;
    color: white;
    text-align: center;
    */
}

.me {
    font-family: -apple-system, "ヒラギノ丸ゴ Pro";
}

#header {
    width: auto;
    height: 80px;
}

#back {
    position: relative;
    z-index: 10;
}

#human {
    width: 500px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid rgba(17, 36, 55, 0.8);
    box-shadow: 0 0 10px rgba(19, 24, 85, 0.6);
    margin-top: 20px;
}

.balloon {
    position: absolute;
    bottom: -150px;
    /* 下外からスタート */
    width: 100px;
    /* 初期サイズ */
}