html,
body {
    width: 700px;
    width: 100vw;
    /* 画面幅いっぱい */
    height: 100vh;
    background: #0b2348;
    color: white;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.hp {
    font-family: -apple-system, "ヒラギノ丸ゴ Pro";
    font-size: 28px;
    color: #bb9855;
}

.timer {
    font-family: "arno-pro", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 38px;
    letter-spacing: 0.2em;
    text-align: center;
    margin: 20px 10px;
    padding: 20px;

    /* 発光（白くふんわり光る） */
    text-shadow:
        0 0 10px rgba(255, 255, 255, 0.8),
        0 0 20px rgba(225, 242, 255, 0.6),
        0 0 30px rgba(255, 255, 255, 0.4);

    /* キラキラするグラデーション文字 */
    background-image: linear-gradient(20deg,
            rgba(171, 196, 255, 0.9) 45%,
            #fff 50%,
            rgba(145, 178, 255, 0.9) 55%);
    background-size: 500% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    /* アニメーション */
    animation: shine 5s infinite linear;
}

@keyframes shine {
    0% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.me {
    font-family: -apple-system, "ヒラギノ丸ゴ Pro";
    font-size: 20px;
}

#header {
    width: auto;
    height: 80px;
}

#back {
    position: relative;
    z-index: 10;
}

.balloon {
    position: absolute;
    bottom: -150px;
    z-index: 10;
    /* 下外からスタート */
    width: 100px;
    /* 初期サイズ */
}

#human {
    width: 600px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid rgba(27, 60, 93, 0.8);
    box-shadow: 0 0 10px rgba(25, 33, 125, 0.6);
    margin-top: 20px;
}

.gift-container {
    display: flex;
    /* 横並びにする */
    justify-content: center;
    /* 全体を中央寄せ */
    align-items: center;
    /* 縦位置をそろえる */
    gap: 150px;
    /* 画像の間隔を設定（調整可） */
    margin-top: 30px;
}

#gift,
#letter {
    width: 190px;
    /* 画像サイズを調整 */
    height: auto;
    transition: transform 0.3s ease;
}

#gift:hover,
#letter:hover {
    transform: scale(1.1);
    /* ホバー時に少し拡大（おしゃれ演出） */
}